<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>copy-result</string>
			<key>Image File</key>
			<string>markdown.png</string>
			<key>Script Interpreter</key>
			<string>/usr/local/bin/node</string>
			<key>Shell Script File</key>
			<string>markdown.js</string>
			<key>Title</key>
			<string>Copy the url with the title</string>
			<key>Requirements</key>
			<array>
				<string>option-round=1</string>
			</array>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Copy the url with the title</string>
	<key>Extension Name</key>
	<string>Markdown</string>
	<key>Extension Identifier</key>
	<string>alexzl.extension.markdown</string>
	<key>Required Software Version</key>
	<integer>719</integer>
</dict>
</plist>
